<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Most Dangerous Writing Tool</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{{url_for('.static', filename='./css/style.css')}}"
    />
  </head>
  <body class="white-mode">
    <div class="container">
      <div class="menu">
        <button id="toggleBackground" class="btn opacity">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            class="bi bi-circle-half"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 15A7 7 0 1 0 8 1zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16"
            ></path>
          </svg>
        </button>
        <button id="toggleFullscreen" class="btn opacity">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-arrows-angle-expand"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707m4.344-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707"
            ></path>
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-arrows-angle-contract hidden"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M.172 15.828a.5.5 0 0 0 .707 0l4.096-4.096V14.5a.5.5 0 1 0 1 0v-3.975a.5.5 0 0 0-.5-.5H1.5a.5.5 0 0 0 0 1h2.768L.172 15.121a.5.5 0 0 0 0 .707M15.828.172a.5.5 0 0 0-.707 0l-4.096 4.096V1.5a.5.5 0 1 0-1 0v3.975a.5.5 0 0 0 .5.5H14.5a.5.5 0 0 0 0-1h-2.768L15.828.879a.5.5 0 0 0 0-.707"
            ></path>
          </svg>
        </button>
      
        </button>
      </div>
      <div class="editor">
        <p class="note">Watch out! The content you typed will start fading when you stop typing...</p>
        <textarea
          id="writingArea"
          class="form-control white-mode"
          rows="12"
          placeholder="Start writing..."
        ></textarea>
        <p id="wordCount" class="word-count">Word Count: 0</p>
      </div>
    </div>
    <script src="{{ url_for('static', filename='./js/script.js') }}"></script>
  </body>
</html>
